.waveform-height {
	height: 100% !important;
}

.waveform-container {
	height: 316px;
	margin-top: 24px;
	width: 97%;
	margin-left: 15px;
}


.canvas-container {
	height: 100%;
	will-change: scroll-position;
}

.canvas-container>div:nth-child(1) {
	height: 7%;
}

.canvas-container>div:nth-child(2) {
	height: 10%;
}

.canvas-container>div:nth-child(3) {
	height: 78%;
}

.canvas-container>div:nth-child(4) {
	height: 10%;
}

.waveform {
	position: relative;
}